//MODAL
.maputnik-modal
{
    z-index: 3;

    overflow: auto;

    min-width: 350px;
    max-width: 600px;
    max-height: 750px;

    background-color: $color-black;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .3);
}

.maputnik-modal-section
{
    /* Bug fix: <http://stackoverflow.com/questions/28636832/firefox-overflow-y-not-working-with-nested-flexbox> */
    min-height: 0;
    padding-top: $margin-3;
    padding-bottom: $margin-3;

    @include flex-column;
    flex-shrink: 0;
}

.maputnik-modal-section--shrink
{
    flex-shrink: 1;
}

.maputnik-modal-header
{
    padding: $margin-3;

    background-color: $color-gray;

    @include flex-row;
}

.maputnik-modal-header-title
{
    font-size: $font-size-5;

    margin: 0;
}

.maputnik-modal-header-toggle
{
    cursor: pointer;
}

.maputnik-modal-content
{
    max-height: 90vh;
    padding: $margin-3;

    @include flex-column;
}

.maputnik-modal-header-space
{
    @extend .maputnik-space;
}

//OVERLAY
.maputnik-overlay-viewport
{
    position: fixed;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    opacity: .875;
    background-color: rgb(28, 31, 36);
}

.maputnik-overlay
{
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    align-items: center;
    justify-content: center;
    @include flex-row;
}

//OPEN MODAL
.maputnik-upload-button
{
    @extend .maputnik-big-button;
}

.maputnik-style-gallery-container
{
    overflow-y: scroll;

    flex-shrink: 1;
}

.maputnik-public-style
{
    font-size: $font-size-2;

    display: inline-block;

    width: 180px;
    margin-top: 10px;
    margin-right: 10px;

    vertical-align: top;

    color: $color-lowgray;
    background-color: $color-gray;
}

.maputnik-public-style-button
{
    display: block;

    padding: $margin-3;

    background-color: $color-gray;
    &:hover
    {
        background-color: $color-midgray;
    }
}

.maputnik-public-style-header
{
    @include flex-row;
}

.maputnik-public-style-thumbnail
{
    display: block;

    width: 100%;
    margin-top: $margin-2;
}

.maputnik-add-layer
{
    @extend .clearfix;
}

//ADD MODAL
.maputnik-add-layer-button
{
    display: inline-block;
    float: right;

    margin-top: 3;
    margin-right: $margin-3;
    margin-bottom: $margin-3;

    text-align: right;

    @extend .maputnik-big-button;
}

//SOURCE MODAL
.maputnik-public-source
{
    display: inline-block;

    width: 48.5%;
    margin-top: 1.5%;
    margin-right: 1.5%;

    vertical-align: top;

    background-color: $color-gray;
}

.maputnik-public-source-select
{
    font-size: $font-size-5;

    padding: $margin-3;

    color: $color-lowgray;
    background-color: transparent;

    @include flex-row;
}

.maputnik-public-source-name
{
    font-weight: 700;
}

.maputnik-public-source-id
{
    font-weight: 400;
}

.maputnik-active-source-type-editor
{
    min-width: 500px;
}

.maputnik-active-source-type-editor-header
{
    padding: $margin-2;

    color: $color-lowgray;
    background-color: $color-gray;

    @include flex-row;
}

.maputnik-active-source-type-editor-header-id
{
    font-size: $font-size-5;
    font-weight: 700;
    line-height: 2;
}

.maputnik-active-source-type-editor-content
{
    padding: $margin-2;

    border-width: 2px;
    border-style: solid;
    border-color: $color-gray;
}

.maputnik-add-source
{
    @extend .clearfix;
}

.maputnik-add-source-button
{
    display: inline-block;
    float: right;

    margin-top: 0;
    margin-right: $margin-3;

    @extend .maputnik-big-button;
}

//EXPORT MODAL
.maputnik-export-gist
{
    font-size: $font-size-6;
    .maputnik-input-block
    {
        margin-right: 0;
        margin-left: 0;
        label
        {
            vertical-align: middle;
        }
    }
    span
    {
        color: $color-lowgray;
    }
}

.maputnik-modal-error
{
    position: relative;

    padding: 8px;
    padding-right: 32px;

    color: #ef5350;
    border: solid 2px #ef5350;
}

.maputnik-modal-error-close
{
    position: absolute;
    top: 8px;
    right: 8px;

    text-decoration: none;

    color: #ef5350;
}
